div.home-app.container-fluid {
  padding: 15px 0;
}
div.home-app.container-fluid h1 {
  text-align: center;
}
div.home-app.container-fluid ul.nav.nav-pills {
  margin: 0 auto;
  width: 500px;
}
.centerLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.nav-link{
  margin: 15px;
}