<div class="container-fluid home-app">
  <ul class="nav nav-pills centradobuscador">
    <li class="megali"></li>
    <li class="nav-item">
      <a class="marginButton"
        routerLink="/characters"
        [queryParams]="{
          fromPage: characterPage,
          nameSearch: characterNameSearch
        }"
        ><b>Personajes</b></a
      >
    </li>
    <li class="nav-item">
      <a 
        routerLink="/episodes"
        [queryParams]="{
          fromPage: characterPage,
          nameSearch: characterNameSearch
        }"
        ><b>Episodios</b></a
      >
    </li>
    <li class="nav-item">
      <a
        routerLink="/locations"
        [queryParams]="{
          fromPage: characterPage,
          nameSearch: characterNameSearch
        }"
        ><b>Locaciones</b></a
      >
    </li>
  </ul>
  <img class="centerLogo" src="../assets/header.png" />
</div>
<router-outlet></router-outlet>
