div.home-app.container-fluid {
  padding: 15px 0;
}
div.home-app.container-fluid h1 {
  text-align: center;
}
div.home-app.container-fluid ul.nav.nav-pills {
  width: 100%;
}
.nav-item{
  size:20px;
  float: left;
  padding: 10px;
}
.megali{
  width: 70%;
}
.centerLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn{
  margin: 15px;
}
.centradobuscador{
  margin-left: auto;
  margin-right: auto;
}
a{
  padding: 10px;
  color: white;
}

table{
  background-color: white;
}
