<div class="container characters">
  <div class="input-group col-sm-6 centradobuscador">
    <input
      name="name-search"
      id="name-search"
      placeholder="Buscar por nombre"
      type="text"
      class="form-control"
      autocomplete="off"
      [(ngModel)]="searchTerm"
    />
    <div class="input-group-append">
      <button type="button" class="btn btn-primary" (click)="getCharacters(1)">
        <fa-icon icon="search"></fa-icon>
          Buscar
      </button>
    </div>
  </div>
  <div class="row">
    <div class="card-columns">
      <div
        class="card"
        *ngFor="let c of characterCall?.results"
        [routerLink]="['/character', c.id]"
        [queryParams]="{ fromPage: currentPage, nameSearch: searchTerm }"
      >
        <img
          [src]="c.image"
          alt="{{ c.name }}"
          id="character-portrait"
          class="card-img-top"
        />
        <div class="card-body">
          <div class="card-title">{{ c.name }}</div>
          <div class="card-subtitle">{{ c.gender }} {{ c.species }}</div>
        </div>
      </div>
    </div>
  </div>
  <nav aria-label="pagination">
    <ul class="pagination" *ngIf="pages">
      <li
        class="page-item"
        *ngFor="let p of pages"
        [ngClass]="{ active: p === currentPage }"
      >
        <button class="page-link" (click)="getCharacters(p)">{{ p }}</button>
      </li>
    </ul>
  </nav>
</div>
